<!DOCTYPE html>
<html>
<title>JLAB Final Project</title>

<!--- JQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Custom stylesheets -->
<style>
.top_element {
	margin-top:2.5%;
}

.navbar-hover {
	transition: background-color 0.5s ease;
}

.navbar-hover:hover {
	background-color: red;
}

.header_tag {
	padding: 20px;
	background-color: #f8f8f8;
	border-radius:5px;	
}
</style>
<body>
	<div class="container">
		<div class="row top_element">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" id="home_btn" href="#">
							Home
						</a>
						<a class="navbar-brand" id="about_btn" href="#">
							About
						</a>
						<a class="navbar-brand" id="demo_btn" href="#">
							Demo
						</a>
					</div>
				</div>
			</nav>
		</div>
		<div class="row" id="home">
			<h1>JLAB Final Project - Wireless Power Transfer</h1>
		</div>
		<div class="row">
			<p class="h4">Sahil Patel, Chris Brancato, Jialun Bao</p>
		</div>
		<div class="row" id="about">
			<div class="header_tag">
				<h2>About</h2>
				<p>We creatd a circuit that is able to wirelessly transmit power.  Our circuit involves the following components:</p>
				<ul>
					<li>Wien Bridge Oscillator</li>
					<li>Power Amplifier</li>
					<li>Pulse width modualtor</li>
					<li>Transmitter and Receiver coils</li>
					<li>Full wave bridge rectifier</li>
					<li>Voltage regulator</li>
					<li>H-bridge motor driver circuit</li>
				</ul>
				<p>We set out to drive a DC motor with our circuit, however we were not able to transmit enough power for the DC motor to operate.  Therefore, we demonstrate our wireless transmission of power via an LED hooked up to the H-bridge circuit.</p>
			</div>
		</div>
		<br></br>
		<div class="row" id="demo">
			<div class="header_tag">
				<h2>Demo</h2>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/mhmh-oYG5FE" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</body>

<script>
$(document).ready(function () {

	$("a").click(function(event) {
		var id = event.target.id;
		var id = id.substring(0, id.length-4);
		$('html, body').animate({
			scrollTop: $("#" + id).offset().top},
			'slow'
		);
	});

});
</script>

</html>